body {  margin: 0; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
code {font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;}

 /** General **/
p {font-family: "Geneva";}
th { text-decoration: underline; font-weight: normal; padding-right: 5px; padding-bottom: 5px; }
.tableData {  padding-right: 0px; margin-bottom: 0px; }
.thTitle { padding-left: 58px; }
.thContact { padding-left: 45px; }
.nowrapTd { white-space:nowrap; }
.greenButton {border-radius: 14px; height: 23px; margin-right: 5px; width: 150px;border: 1px solid; background-color: white; color: #29a329; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold;}
.tableTitleCenteredData {  width: 170px; text-align: center; }
.orangeButtonSmall {border-radius: 14px; height: 23px; margin-right: 5px; width: 50px;border: 1px solid; background-color: white; color: #ff8000; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold;}
.msgSendButton {display: inline; margin-left: 10px; border-radius: 14px; height: 23px; margin-right: 5px; width: 60px; border: 1px solid; background-color: white; color: #29a329; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold;}

 /** TitleBar **/
#titleBarDiv { height: 42px; top: 0; width: 100%; background-color: #737373; background-image: linear-gradient(#404040, #666666);}
#titleBarDiv2 { max-width: 960px; margin: auto; padding-top: 6px; padding-bottom: 5px;}
#titleBarDiv3 { display: inline}
#NJ {       margin-right: 20px; border: none; font-family: "Arial"; font-size: 20px; color: #ff8533; font-weight: bold; text-decoration: none; background-color: transparent;}
#buttonNJ { margin-right: 20px; border: none; font-family: "Arial"; font-size: 20px; color: #ff8533; font-weight: bold; text-decoration: none; background-color: transparent; padding-left: 0px; }
#titleLinksDiv {padding-top: 10px; max-width: 960px; margin: auto; border-bottom: 2px solid black; padding-bottom: 5px; }
.menuLinks {background-color: transparent; border: none; font-size: 16px; font-weight: bold; color: white; display: inline-block; margin-left: 10px; text-decoration: none; font-family: "Arial"}
.menuLinks:link, .menuLinks:visited { display: inline-block; text-decoration: none; color: white;}
.menuLinksOnButton {background-color: transparent; border: none; font-size: 16px; font-weight: bold; color: white; display: inline-block; margin-left: 10px; text-decoration: underline; font-family: "Arial"}
.menuLinksOnButton:link, .menuLinks:visited { display: inline-block; text-decoration: none; color: white;}

 /** LoginStatus **/
#loginStatusDiv { float: right; clear: both}
#logoutButton { font-family: "Arial"; font-size: 13px; background-color: #3333cc; color: white; font-weight: bold; border: none; border-radius: 14px; width: 70px;}
#logoutButton:hover {background-color: #3333ff}
#userName {font-family: "Arial"; color: white;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; padding-right: 10px; }
.loginBox {display: inline; margin-right: 10px; height: 25px; width: 150px;}
.signupBox { display: block; margin-bottom: 2px; height: 25px; width: 150px;}
#signupDiv { margin-top: 60px; float: right; clear: both; padding-right: 150px; }
#signupMessage { float: right; clear: both; font-size: 12px; margin-right: 100px; }
#signupButton {border-radius: 14px;  margin-right: 5px; margin-top: 5px; width: 150px;border: 1px solid; background-color: white; color: #29a329; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold;}
#easyP { font-weight: bold; font-size: 18px; }
#loginStatusInlineDiv {display: inline}

 /** Buttons TitleBar **/
.settings2ButtonsDiv {  margin: auto; width: 960px; padding-top: 15px; padding-bottom: 2px;}
.settings3ButtonsDiv {  margin: auto; width: 960px; padding-top: 15px; padding-bottom: 2px;}
.settingsButton { border-radius: 0px; margin-right: 10px; width: 150px; display: inline; background-color: white; border-bottom: 2px solid black; border-top: none; border-left: none; border-right: none;  font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
.settingsButton:hover { border-bottom: 3px solid #3333ff; border-top: none; border-left: none; border-right: none; padding-bottom: 0px;}
.settingsButton:active { border-bottom: 3px solid #3333ff; border-top: none; border-left: none; border-right: none;}

 /** Buttons First Level **/
#alertsButton { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #3333cc; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#alertsButton:active { background-color: gray;}
#alertsButtonOn { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #009900; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#alertsButtonOn:active { background-color: gray; }
#myNetworkButton { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #3333cc; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#myNetworkButton:active { background-color: gray;}
#myNetworkButtonOn { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #009900; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#myNetworkButtonOn:active { background-color: gray;}
#myClubsButton { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #3333cc; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#myClubsButton:active { background-color: gray;}
#myClubsButtonOn { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #009900; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#myClubsButtonOn:active { background-color: gray;}
#myProfileButton { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #3333cc; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#myProfileButton:active { background-color: gray;}
#myProfileButtonOn { border-radius: 4px; margin-right: 10px; width: 120px; display: inline; background-color: #009900; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 1px;}
#myProfileButtonOn:active { background-color: gray;}
.beginP { border-radius: 4px; margin-right: 10px; display: inline; background-color: #009900; border: none; color: white; font-size: 14px; font-family: "Geneva"; padding-bottom: 2px; padding-top: 2px;}

 /** Top-level Parent Div **/
.topParentDiv { padding-top: 15px; margin: auto; width: 960px; }

 /** 2nd-level Parent Div Box **/
.secondParentDiv { padding-left: 0px;}

 /** Home (Introduction) **/
#introDiv {height: 600px; padding-top: 80px; background-color: #f2f2f2; }
#intro1p { font-weight: bold; font-size: 18px; }
#aboutDiv { position: fixed; bottom: 0; padding-top: 15px; padding-bottom: 15px; padding-left: 17%; width: 100%; background-color: white }
.aboutP1 {  font-size: 11px; display: inline; padding-right: 10px; }
.aboutP2 {  font-size: 11px; display: inline; padding-right: 10px; color: #0000ff }
#aboutButton { border: none; color: blue; background-color: white; font-size: 12px; font-family: "Arial";  }

 /** Me - Settings (Score URL  & UpdateUserInfo) **/
#meSettingsDiv { border-style: solid; border-width: 0px; margin-top: 0px; margin-bottom: 10px; padding: 0px;}
#publicProfileURLhref {font-family: "Geneva"; color: #0000ff}
.paragraphInline {font-family: "Geneva"; display: inline}
.updateParagraph { display: inline; color: red; font-weight: bold; }

 /** Ask - Create/Manage (AskFormQset) **/
.askText {margin-left: 10px; display: inline; width: 50%;}
#askForm1 {display: inline; width: 30%;}
#askForm2 {display: inline-block; width: 80%;}
#submitQsetInviteDiv {margin-top: 10px; }
#submitQsetButtonSelectionP {display: inline-block; width: 60%;text-align: right; margin-right: 10px; color: red; }
.firstP {height: 9px; display: inline-block; width: 140px;}
.secondP {height: 9px; display: inline-block;}
.scoringLevelsInput1 { width: 320px; margin: 2px; }
.scoringLevelsInput2 { width: 150px; }
#askFromZeroScoreParagraph { margin-left: 60px; display: inline-block; height: 9px; }
.askFormQsetSmallP {display: inline; font-size: 12px; height: 9px;}

 /** Ask - Create/Manage (AskFormQuestion) **/
#newQuestion {display: inline-block; width: 80%;}
.newAnswer {display: inline-block; width: 50%;}
.newAnswerPoints {display: inline-block; width: 10%;}
#floatRightSubmitQuestionButton {float: right; margin-top: 25px;}

 /** InvitationForm **/
#invitationBox {display: block}
#inviteRadio1 { padding-top: 10px; display: inline-block;}
#inviteRadio2 { display: inline-block}

 /** NetworkContactPages & Profile **/
.singleNetworkContactButton { border-radius: 14px; margin-right: 10px; display: inline-block; background-color: white; border: 1px solid; text-decoration: none; font-size: 14px; font-family: "Geneva";}
.singleNetworkContactButton:hover {background-color: #e6e6e6}

 /** Answer (AnswerSelection) - Button **/
.qbutton { white-space:nowrap; text-align: left ; border-radius: 14px; width: 380px; display: block; font-family: "Geneva"; font-size: 14px; padding: 4px 15px; background-color: #e6e6e6; color: black; border: solid 2px white; margin-bottom: 8px; margin-left: 10px;}
.qbutton:active { border: solid 2px #0000ff; outline: none}
.qbutton:focus  { border: solid 2px #0000ff; outline: none }

 /** Answer (Questions) **/
#questionsComponent {height: 560px; border-style: solid; border-width: 2px; padding: 15px; margin: auto; margin-top: 10px; width: 800px;}
#noAnswerButton {border-radius: 10px; color: black; font-family: "Geneva"; font-size: 14px; padding: 0px 10px; background-color: #e6e6e6; border: none; margin-bottom: 5px; margin-left: 10px;}
#questionsDiv1 { display: inline-block; height: 90px; width: 100%; border-bottom-style: double }
#questionsDiv2 { display: inline-block; width: 25%; float: right;  }
#questionsDiv3 { height: 34px; border: 2px solid; border-color: #0000ff; padding: 3px; text-align: center; }
#questionsDiv4answerSelection { margin: auto; width: 54%; height: 300px;}
#questionsDiv5answerSelection { margin: auto; width: 54%; height: 360px;}
#questionsDivQuestion { height: 60px; }
#answerSubmitButton {display: inline; border-radius: 14px; height: 23px; margin-right: 5px; width: 150px;border: 1px solid; background-color: #00b300; color: #ffffff; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold;}
#answerSubmitButton:hover {}
#deleteAnswerSubmits {display: inline; height: 23px; width: 150px; border-radius: 14px; border: 1px solid; background-color: white; color: #ff0000; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold; margin-left: 35px; margin-right: 5px;}
#navigateQuestionsButton {display: inline; height: 23px; width: 150px; border-radius: 14px; margin-bottom: 0px; border: 1px solid; background-color: white; color: #ff8000; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold; margin-left: 5px;margin-right: 5px;}
#nextQuestionForm {display: inline; }
#questionsGoToInput { display: inline; width: 50px; }
#questionsNavigationDiv { border-top-style: double; margin-top: 10px;  }
.qtext {margin-left: 0px; margin-top: 15px; }
.qtext2 {margin-left: 10px; margin-bottom: 1px;}
.questionsDescriptionParagraph { white-space:nowrap; display: inline-block; height: 9px;}
.questionsParagraph {height: 9px;}
.resultMessageP {font-size: 18px; color: #0000ff; font-weight: bold; margin-top: 15px;}
#answersNotProvidedP {font-size: 13px; padding-left: 25px;}
#seeAnswersDiv { margin-top: 20px; }
#deletedAnswersMessage {margin-left: 40px; color: red}
#showResultsDiv { height: 150px;}
.showAnswersButton {border-radius: 10px; font-weight: bold; color: white; font-family: "Geneva"; font-size: 14px; padding: 0px 10px; background-color: #ff0066; border: none; margin-bottom: 5px; margin-left: 70px;}
.showAnswersButton2 {border-radius: 10px; font-weight: bold; color: white; font-family: "Geneva"; font-size: 14px; padding: 0px 10px; background-color: #ff0066; border: none; margin-bottom: 5px; margin-left: 120px;}
#qText2 {margin-left: 10px; margin-top: 5px; display: inline;}

 /** ScoresList **/
.scoresListTD { display: inline-block;  }
.titleButton {border-radius: 14px; height: 23px; margin-right: 5px; width: 180px;border: 1px solid; background-color: white; color: #b37700; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold;}
.inviteAuditButton {height: 23px; width: 180px; border-radius: 14px; margin-bottom: 0px; border: 1px solid; background-color: white; color: #ff8000; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold; margin-left: 5px;margin-right: 5px;}
.deleteScoreButton {height: 23px; width: 150px; border-radius: 14px; border: 1px solid; background-color: white; color: #ff0000; text-decoration: none; font-size: 14px; font-family: "Geneva"; font-weight: bold; margin-left: 5px; margin-right: 5px;}

 /** Profile **/
#deletedScorePostP { height: 9px; color: red; font-weight: bold;}
.radioSelections {display: inline; padding-right: 10px; }
.profileImageDiv { display: inline; float: top; }

 /** Picture **/
#profilePicBrowseButton {}
#profilePic {float: left; border: none; height: 80px; width: 80px; margin-right: 15px; }
#profilePic:hover { cursor: pointer }
#profilePic2 { border: none; height: 80px; width: 80px; margin-right: 15px; }
#profilePic3 {float: left; border: none; height: 80px; width: 80px; margin-right: 15px; }

/** AuditQuestions **/
#AuditQuestionsComponent {height: 570px; border-style: solid; border-color: red; border-width: 2px; padding: 15px; margin: auto; width: 800px;}
#auditCommentsInput {margin-bottom: 15px; width: 100%;}

/** Public Profile (PublicUserPages) **/
#titleLinksDiv2 {margin: auto; width: 160px; }
#profileUserName {display: inline; color: white; font-weight: bold;}
#NJ2 {  font-family: "Arial"; font-size: 20px; color: #ff8000; font-weight: bold; text-decoration: none; background-color: transparent}

/** AlertsNew... **/
#alertsBlueP {height: 9px; color: #0000ff }
.alertsSmallP {font-size: 12px; height: 9px;}

 /** FriendsContactsList **/
.friendsTD2 {display: block; padding-top: 5px;}
.friendsTD3 {display: block; padding-bottom: 5px;}
.friendsTD {display: block;}
.friendsTR { margin-bottom: 500px; line-height: 18px;}

.secondLevelDiv { padding-top: 10px; }
.noLineSpaceP { margin: 0 }
.headerP { margin: 0; width: 370px; border-bottom: solid 1px black; padding-left: 5px; color: black;  }
.clubTD { padding-left: 15px;}
.clubTR { line-height: 17px;}
.networkFriendTD { padding-top: 10px; padding-right: 10px; }
.clubTextBox { width: 400px; }
#clubTextBoxSize { width: 50px; }
.userNameMSG {display: inline; font-family: "Arial"; color: #3333ff;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px; padding-right: 10px; }
.timeStampP { display: inline; color: #737373; font-size: 12px;}
#timeStampTD { width: 125px; }
.messagesP { display: inline; margin-left: 2px; padding-left: 10px; }
.messagesDiv { height: 300px; overflow: scroll; border: solid 1px; }
.messagesDiv2 { min-height:101%; border-left: solid 2px red;}
#userNameTD { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px; }
#msgInputDiv { margin-top: 10px; }
.acceptButton     {border-radius: 14px; height: 20px; margin-left: 0px; width: 65px;border: 1px solid gray; background-color: white; font-size: 12px; font-family: "Geneva";}
.declineButton    {border-radius: 14px; height: 20px; margin-left: 10px; width: 65px;border: 1px solid gray; background-color: white; font-size: 12px; font-family: "Geneva";}
.seeDetailsButton {border-radius: 14px; height: 20px; margin-left: 10px; width: 40px;border: 1px solid gray; background-color: white; font-size: 12px; font-family: "Geneva";}
.seeDetailsButton:hover { background-color: #f2f2f2 }
.updateButton {border-radius: 14px; height: 20px; margin-left: 10px; width: 80px;border: 1px solid gray; background-color: white; font-size: 12px; font-family: "Geneva";}
.updateButton:hover { background-color: #f2f2f2 }
.browseButton {border-radius: 14px; height: 20px; margin-left: 10px; border: 1px solid gray; background-color: white; font-size: 12px; font-family: "Geneva";}
.alertsNewDiv { border-bottom: dotted 1px gray; padding-bottom: 5px; }
#publicPageUserName {display: inline; color: white; font-weight: bold;  }
.clearAlertsButton {border-radius: 14px; height: 20px; margin-left: 0px; margin-left: 10px; width: 80px;border: 1px solid gray; background-color: white; font-size: 12px; font-family: "Geneva";}
.alertsUserNameTD { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 140px; }
.alertsButtonsTD { width: 370px; }
.pureTextButton {text-align: left; height: 12px; width: 150px; border: none; background-color: white; font-size: 16px; font-family: "Geneva"; font-color: black }
.arrowImage { height: 30px; width: 30px; }
.headline1 { font-family: "Arial"; font-size: 18px; color: green; font-weight: bold; border: dotted 1px black; padding-left: 10px; margin-top: 15px; }
.headline2 { font-family: "Arial"; font-size: 18px; color: red; font-weight: bold; border: dotted 1px black; padding-left: 10px;}
.headline3 { font-family: "Arial"; font-size: 16px; padding-left: 10px;}
.publicClubsTR { text-decoration: underline; font-weight: bold; }
